<h1> Restaurant </h2>

<h2><%= @restaurants.name %></h2>
<p><%= @restaurants.category %></p>
<p><%= @restaurants.address %></p>
<p><%= @restaurants.phone_number %></p>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurants.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>
<br>
